@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        @*Just render the body so that RedirectToLogin works*@
        @Body
    </NotAuthorized>
</AuthorizeView>


@functions{ async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    } }