@page "/register-ok"
@layout LoginLayout

<h1 class="h2 font-weight-normal login-title">
    Blaster
</h1>

<div class="form-signin">
    <h4 class="font-weight-normal text-center">Your account has been created!</h4>

    <p class="text-center">
        Check your email for a link to complete the registration. If it doesn’t appear within a few minutes, check your spam folder.
    </p>
    @*TODO: Add-resend*@
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Return to login</h6>
    </NavLink>
</div>
