@page "/resend-confirmation-email-success"
@layout LoginLayout

<h1 class="h2 font-weight-normal login-title">
    Blaster
</h1>

<div class="form-signin">
    <h4 class="font-weight-normal text-center">Confirmation process!</h4>

    <p class="text-center">
        Check your email for a link to account confirmation. If it doesn’t appear within a few minutes, check your spam folder.
    </p>

    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Return to login</h6>
    </NavLink>
</div>
